<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<div align="center">

    <form th:action="${user} != null ? @{/edit} : @{/add}" method="POST">
        <table border="1" cellpadding="5">
            <caption>
                <h2 th:if="${user} != null">Edit User</h2>
                <h2 th:if="${user} == null">Add New User</h2>
            </caption>

            <input type="hidden" name="id" th:value="${user.id}" th:if="${user} != null"/>

            <tr>
                <th>Name:</th>
                <td>
                    <input type="text" name="name" size="45" th:value="${user} != null ? ${user.name} : ''"/>
                </td>
            </tr>
            <tr>
                <th>Last Name:</th>
                <td>
                    <input type="text" name="lastName" size="45" value=" " th:value="${user} != null ? ${user.lastName} : ''"/>
                </td>
            </tr>
            <tr>
                <th>Email:</th>
                <td>
                    <input type="text" name="email" size="45" value=" " th:value="${user} != null ? ${user.email} : ''"/>
                </td>
            </tr>
            <tr>
                <th>Password:</th>
                <td>
                    <input type="text" name="password" size="45" value=" " th:value="${user} != null ? ${user.password} : ''"/>
                </td>
            </tr>
        </table>
        <input type="submit" value="Save"/>
    </form>
    <h3>
        <a href="/">Back to User List</a>
    </h3>
</div>
</body>
</html>